.main_heading{
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url("vertical-farming-banner.jpg");
    /* background-repeat: no-repeat; */
    background-size: auto;

}
header{
    background-color: #ee5353;
}

.content{
    background-color: rgb(207, 207, 207);
    color: rgb(87, 26, 26);
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /*This changes the color of the submit button with a hover */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* This handles the styling for the entire form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }